body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
/* *,
::before,
::after {
  box-sizing: border-box;
} */
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
span,
h3 {
  color: orange;
}
.experience_flexible {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 6%;
}
/* Do not write image. A image inside half-width class
selector. It will cover 90% area out of 50%.
*/
.half-width img {
  width: 80%;
}
.button {
  text-decoration: none;
  background: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  font-size: 20px;
}
.background_Image {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.middle_image {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.paraEdit {
  width: 450px;
}
.experience {
  width: 70%;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 20px;
  padding-bottom: 40px;
  box-shadow: 5px 7px 40px grey;
}
 #full_stack{
  border-left: 7px solid tomato;
} 
#baby_dev{
  border-left: 7px solid;
  border-image: linear-gradient(blue 100%, cyan 100%);
  border-image-slice: 1;
}
footer p{
  text-align: center;
}
